body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
background-color: #fff;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
padding: 20px;
max-width: 400px;
width: 100%;
text-align: center;
position: relative; /* Adicionado para posicionar elementos filhos relativos a este contêiner */
}

header {
    margin-bottom: 20px;
}

.section-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-button {
    background-color: #e863a1 ;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.section-button:hover {
    background-color: rgba(255, 14, 215, 0.612);
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.action-button {
    background-color: #e863a1;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    width: 33.33%;
    box-sizing: border-box;
    border: none; /* Remover a borda */
}

.action-button:hover {
    background-color: rgba(255, 14, 215, 0.612);
}

.back-button {
    background-color: #e863a1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}